<div class="login">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput />
          <mat-icon matPrefix>email</mat-icon>
          <mat-hint>Escribir el mail con el que te registraste.</mat-hint>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-flat-button>Enviar</button>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>

<!-- <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>
</div> -->
