<mat-sidenav-container class="features-container nav-principal">
  <!-- NAV ----------------------------- INI -->
  <mat-sidenav #sidenav>
    <div class="nav-lat">
      <button class="bt-close" mat-button (click)="sidenav.toggle()"><mat-icon class="mat-18">close</mat-icon></button>
      <mat-nav-list class="border-animated">
        <ul>
          <li>
            <a (click)="sidenav.toggle()" routerLink="/"><mat-icon>rocket_launch</mat-icon> home <sup>Good</sup></a>
          </li>
        </ul>
      </mat-nav-list>
      <h6><mat-icon>settings_accessibility</mat-icon> sección privada</h6>
      <mat-nav-list class="border-animated">
        <ul>
          <li>
            <a (click)="sidenav.toggle()" routerLink="dashboard/students"><mat-icon>diversity_3</mat-icon> Alumnos
              <sup>Good</sup></a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="dashboard/enrollments"><mat-icon>my_location</mat-icon>
              Inscripciones
              <sup>Failed</sup></a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="dashboard/courses"><mat-icon>assistant_photo</mat-icon> Cursos
              <sup>Good</sup></a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="dashboard/courses-space"><mat-icon>vibration</mat-icon> Cursos
              Espaciales <sup>in
                progress</sup></a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="dashboard"><mat-icon>group_work</mat-icon>
              Profesores
              <sup>Failed</sup></a>
          </li>
        </ul>
      </mat-nav-list>
      <h6><mat-icon>assignment_ind</mat-icon> Sección Administración</h6>
      <mat-nav-list class="border-animated">
        <ul>
          <li>
            <a (click)=" sidenav.toggle()" routerLink="/auth/login"><mat-icon>account_circle</mat-icon> Login</a>
          </li>
          <li>
            <a (click)="onLogout()"><mat-icon>https</mat-icon> Cerrar Sesión</a>
          </li>
        </ul>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- NAV ----------------------------- END -->

  <!-- CONTENT ----------------------------- INI -->
  <mat-sidenav-content>
    <!--  <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->

    <!-- TOOLBAR  -------------------------------------------------- INICIO -->
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button class="features-icon"
        aria-label="features icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        <span class="spacer"></span>
        <!-- <span>{{user?.firstName}}</span> -->
      </button>
      <span class="features-spacer"></span>
      <!-- ICON RIGHT -------------------------------------------------- INICIO -->
      <!-- <button mat-icon-button class="features-icon favorite-icon" aria-label="features icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="features-icon" aria-label="features icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->
      <!-- ICON RIGHT -------------------------------------------------- FIN -->

    </mat-toolbar>
    <!-- TOOLBAR --------------------------------------------------  FIN -->

    <!-- CONTENT ----------------------------- INI -->
    <main class="router-container">
      <div class="container">
        <div class="row">
          <router-outlet />
        </div>
      </div>
    </main>
    <!-- CONTENT ----------------------------- END -->

  </mat-sidenav-content>
</mat-sidenav-container>
