.table{
  backdrop-filter: blur(30px);
  .mat-mdc-table{
    border-spacing:10px;
    border-collapse: separate;
    color:$color-white;
    background-color: $color-opacity;
    opacity: 0.6;
    box-shadow: none;
    tr, th, td, thead{
      color:$color-white;
      background-color:  $color-opacity!important;
      border-width: 0!important;
    }
    thead{
      background-color:  rgba(0,0,0,0.4)!important;
    }
    th, td{
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
      text-shadow: -1px 4px 3px black !important;
    }

    .mat-mdc-header-cell{
      border-width: 0px;

    }





}
}
