.mat-mdc-table{
  border-spacing:10px;
  border-collapse: collapse;
  color:$color-white;
  $b: 10px;
  backdrop-filter: blur($b);
  background-color: $color-bg!important;
  opacity: 0.6;
  tr, th, thead{
    color:$color-white;
    backdrop-filter: blur($b);
    background-color: $color-bg!important;
  }
  .mat-mdc-header-cell{
    border-width: 0px;

  }





}
