html,
body,
.body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
.body{
  background-color: $color-bg;
  color: $color-white;
  /* padding: 20px; */
  background: url('../../../public/assets/images/bg-general.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  .dasboard-sidenav-content{

    .router-container{
      padding: 24px;
      color: $color-text-violet;

    }


  }
}

.spacer{
  flex: 1 1 auto;
}


h1{
  color:$color-white;
  font-weight: bold;
  text-transform: uppercase;
}
.mat-icon{
  color: $color-white;
}
