html,
body,
.body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body,
.body{
  background-color: $color-bg;
  color: $color-white;
  /* padding: 20px; */
  background: url('../../../public/assets/images/bg-general.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .dasboard-sidenav-content{
    .router-container{
      padding: 24px;
      color: $color-text-violet;
    }
  }
}

.spacer{
  flex: 1 1 auto;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1!important;
}
p{
  line-height: 1.2!important;
}

h1{
  color:$color-white;
  font-weight: bold;
  text-transform: uppercase;
}
.mat-icon{
  color: $color-white;
}



/* EFFECT */
.border-animated{
  overflow: hidden;
  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

  border: solid 1px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

  background:
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 2s ease-in-out infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}




