body{
  // font-family: Inter, sans-serif;
  font-family: "Rajdhani", sans-serif;
}
@mixin fontGeneral(){
  font-family: "Rajdhani", sans-serif!important;
  line-height: 1.2;
  margin: 0!important;
  padding: 0!important;
}
.mat-typography{
  @include fontGeneral();
  h1,h2,h3,h4,h5,h6, p, a, button, li{
    @include fontGeneral();
  }
}
h1,h2,h3,h4,h5,h6, p, a, button, li{
  @include fontGeneral();
}
// h1,h2,h3,h4,h5,h6{
//   color: $color-white;
// }

h1{
  &.title{
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
    /* max-width: 60rem; */
    font-size: 6rem !important;
    /* background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%); */
    background-image: linear-gradient(181deg, #1e112f 50%, #e90c44 90%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-transform: uppercase;
  }



}
