<!-- <mat-card class="example-card shadow-3" appearance="outlined">

<mat-card-header> -->
<!-- <div mat-card-avatar class="example-header-image" style="background-image:url( {{courseInput.image | imageUrl}} )">
    </div>-->

<!--   <mat-card-title class="mat-label-large">{{ courseInput.teacher_name }}</mat-card-title>
  <mat-card-subtitle class="mat-label-small">{{ courseInput.schedule }}</mat-card-subtitle>
</mat-card-header> -->
<!-- <img mat-card-image [src]="courseInput.image | imageUrl" alt="{{courseInput.name}}"> -->

<!-- <mat-card-content class="mt-2">
  <h6>
    {{ courseInput.name }}
  </h6>
  <p> -->
<!-- <strong>Description</strong> {{ courseInput.description }} -->
<!-- <br> -->
<!-- <mat-chip-listbox>
        <mat-chip *ngFor="let name of courseInput.characters.split(',') | slice:0:3">
          {{ name }}
        </mat-chip>
      </mat-chip-listbox> -->
<!--   </p>
  <mat-divider></mat-divider>
  <p><strong>{{ courseInput.schedule }}</strong></p>
</mat-card-content> -->


<!-- <mat-card-actions>

  <button mat-button mat-raised color="primary" [routerLink]="['/dashboard/courses-space/edit', courseInput.id ]">
    <mat-icon>edit</mat-icon>
    Editar
  </button>

  <span class="spacer"></span>

  <button mat-button mat-raised [routerLink]="['/dashboard/courses-space/', courseInput.id ]">
    <mat-icon>more_horiz</mat-icon>
    Más
  </button>

</mat-card-actions>

</mat-card> -->
