<h1>
  Editar / Agregar Curso
  <small>Curso</small>


</h1>
<mat-divider class="mb-2">
  <div class="grid">
    <div class="col-12 sm:col-6">
      <mat-card>
        <mat-card-content>
          <div class="grid">

            <mat-form-field class="col-12 sm:col-6">
              <mat-label>
                Curso
              </mat-label>
              <input matInput type="text" required />
            </mat-form-field>

            <mat-form-field class="col-12 sm:col-6">
              <mat-label>
                Alter
              </mat-label>
              <input matInput type="text" required />
            </mat-form-field>

            <mat-form-field class="col-12 sm:col-6">
              <mat-label>
                primera
              </mat-label>
              <input matInput type="text" required />
            </mat-form-field>

            <mat-form-field class="col-12 sm:col-6">
              <mat-label>
                primera
              </mat-label>
              <input matInput type="text" required />
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-divider>
