<mat-sidenav-container class="dasboard-container">
  <!-- NAV ----------------------------- INI -->
  <mat-sidenav #sidenav>
    <div class="nav-lat">
      <button class="bt-close" mat-button (click)="sidenav.toggle()"><mat-icon class="mat-18">close</mat-icon></button>
      <mat-nav-list>
        <ul>
          <li>
            <a (click)="sidenav.toggle()" routerLink="/">Inicio</a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="students">Alumnos</a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="enrollments">Inscripciones</a>
          </li>
          <!-- <li>
            <a mat-list-item routerLink="enrollments" routerLinkActive #inscripcionesLink="routerLinkActive"
              [activated]="inscripcionesLink.isActive">Inscripciones</a>
          </li> -->
          <li>
            <a (click)="sidenav.toggle()" routerLink="courses">Cursos</a>
          </li>
          <li>
            <a (click)="sidenav.toggle()" routerLink="courses-space">Cursos Espaciales</a>
          </li>
        </ul>
      </mat-nav-list>
      <mat-nav-list>
        <ul>
          <li>
            <a (click)="onLogout()">Cerrar Sesión</a>
          </li>
        </ul>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- NAV ----------------------------- END -->

  <!-- CONTENT ----------------------------- INI -->
  <mat-sidenav-content>
    <!--  <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->

    <!-- TOOLBAR  -------------------------------------------------- INICIO -->
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button class="dasboard-icon"
        aria-label="dasboard icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        <span class="spacer"></span>
        <span>{{user?.firstName}}</span>
      </button>
      <span class="dasboard-spacer"></span>
      <!-- ICON RIGHT -------------------------------------------------- INICIO -->
      <!-- <button mat-icon-button class="dasboard-icon favorite-icon" aria-label="dasboard icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="dasboard-icon" aria-label="dasboard icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->
      <!-- ICON RIGHT -------------------------------------------------- FIN -->

    </mat-toolbar>
    <!-- TOOLBAR --------------------------------------------------  FIN -->

    <!-- CONTENT ----------------------------- INI -->
    <main class="p-1 router-container">
      <div class="container">
        <div class="row">
          <router-outlet />
        </div>
      </div>
    </main>
    <!-- CONTENT ----------------------------- END -->

  </mat-sidenav-content>
</mat-sidenav-container>
