<mat-drawer-container class="example-container" autosize>
  <!-- <app-nav /> -->
  <!-- SIDEBAR -------------------------------------------------- INICIO -->
  <mat-drawer [opened]="false" #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/auth/login">Login</a>
      <a mat-list-item routerLink="students">Alumnos</a>
      <a mat-list-item routerLink="courses">Cursos</a>
      <!-- (click)="logOut()" -->
      <a mat-list-item>Cerrar Sesión</a>
      <!-- <a mat-list-item href="...">Inscripciones</a>-->
    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR -------------------------------------------------- FIN -->

  <!-- MAIN CONTENT --------------------------------------------------  INICIO-->
  <div class="example-sidenav-content">
    <!-- TOOLBAR  -------------------------------------------------- INICIO -->
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <!-- ICON RIGHT -------------------------------------------------- INICIO -->
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->
      <!-- ICON RIGHT -------------------------------------------------- FIN -->

    </mat-toolbar>
    <!-- TOOLBAR --------------------------------------------------  FIN -->



    <main class="p-1">
      <div class="container">
        <div class="row">
          <router-outlet />
          <!-- <app-students /> -->
          <!--
        </div>
        <div class="row">
          <app-courses /> -->
        </div>
      </div>
    </main>

  </div>
  <!-- MAIN CONTENT --------------------------------------------------  FIN-->


</mat-drawer-container>
