<div class="container">
  <div class="row">
    <!-- <div class="col-12">
      <h1 class="title"> formate en la mejor escuela de espacio</h1>
    </div> -->

    <!-- SLIDER --------------------------- START -->
    @if(slider$){
    <div class="col-12">
      <div id="carouselExample" class="carousel slide border-animated">

        <div class=" carousel-inner">
          @for (s of slider$; track slider$) {
          <div class="carousel-item active">

            <div class="carousel-caption d-none d-md-block">
              @if (s.text) {
              <h5>{{s.text}}</h5>
              }@else{
              <h4 class="title">formate en la mejor escuela de espacio</h4>
              }
            </div>
            <img [src]="s.image | imageUrl" class="d-block w-100" alt="{{s.text}}">

          </div>
          }
        </div>
        @if (slider$.length >1) {
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        }
      </div>
    </div>
    }

    <!-- SLIDER --------------------------- FIN -->
    <!-- COURSE --------------------------- START -->
    @if(courses$){
    <div class="col-12">
      <h2 class="title">Cursos</h2>
      <!-- {{courses$[0] | json}} -->
      <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
        @for (i of courses$; track courses$) {
        <div class="col">
          <div class="card card-space border-animated">
            @if(i.image){
            <img [src]="i.image| imageUrl" class="card-img-top" alt="{{i.name}}">
            }
            <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">{{i.short_description}}</p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
    <!-- COURSE --------------------------- FIN -->
    <!-- TEACHERS --------------------------- START -->
    @if(teachers$){
    <div class="col-12">
      <!-- {{teachers$ | json}} -->
      <h2 class="title">Profesores</h2>
      <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
        @for (i of teachers$; track teachers$) {
        <div class="col">
          <div class="card card-space border-animated">
            @if(i.image){
            <img [src]="i.image| imageUrl" class="card-img-top" alt="{{i.first_name}}">
            }
            <div class="card-body">
              <h5 class="card-title">{{i.specialty}}</h5>
              <!-- <p class="card-text"></p> -->
            </div>
          </div>
        </div>
        }
      </div>



    </div>

    }


    <!-- TEACHERS --------------------------- FIN -->
    <!-- STUDENT --------------------------- START -->
    <!-- {{students$ | json}} -->
    @if(students$){
    <div class="col-12">
      <h2 class="title">Nuestros estudiantes</h2>
      <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
        @for (i of students$; track students$) {
        <div class="col">
          <div class="card card-space border-animated">
            @if(i.image){
            <img [src]="i.image| imageUrl" class="card-img-top" alt="{{i.first_name}}">
            }
            <div class="card-body">
              <h5 class="card-title">{{i.first_name}} {{i.last_name}}</h5>
              <p class="card-text">{{i.opinion}}</p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
    <!-- STUDENT --------------------------- FIN -->




  </div>
</div>
